apparmor==2.13.3
appdirs==1.4.4
backports.zoneinfo==0.2.1
bcrypt==4.0.1
beautifulsoup4==4.8.2
cachetools==5.3.1
certifi==2019.11.28
cffi==1.15.1
chardet==3.0.4
click==8.1.6
command-not-found==0.3
contourpy==1.1.0
cryptography==41.0.3
cycler==0.11.0
dateparser==1.1.8
dbus-python==1.2.16
distro-info==0.23ubuntu1
distro==1.4.0
docker-pycreds==0.4.0
fonttools==4.42.0
gitdb==4.0.10
gitpython==3.1.32
google-auth==2.22.0
html5lib==1.0.1
httmock==1.4.0
idna==2.8
importlib-resources==6.0.1
kiwisolver==1.4.4
kubernetes==27.2.0
language-selector==0.1
libapparmor==2.13.3
lxml==4.5.0
matplotlib==3.7.2
netifaces==0.10.4
numpy==1.24.3
oauthlib==3.2.2
packaging==23.1
pandas==2.0.3
paramiko==3.1.0
pathtools==0.1.2
pillow==10.0.0
pip==23.2.1
prometheus-api-client==0.5.3
protobuf==4.24.0
pssh==2.3.1
psutil==5.9.5
pyasn1-modules==0.3.0
pyasn1==0.5.0
pycparser==2.21
pygobject==3.36.0
pymacaroons==0.13.0
pynacl==1.5.0
pyopenssl==23.2.0
pyparsing==3.0.9
python-apt==2.0.0+ubuntu0.20.4.3
python-dateutil==2.8.2
pytz==2023.3
pyyaml==6.0
regex==2023.8.8
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
requests==2.22.0
rsa==4.9
scp==0.14.5
sentry-sdk==1.29.2
setproctitle==1.3.2
setuptools==45.2.0
six==1.14.0
smmap==5.0.0
soupsieve==1.9.5
ssh-import-id==5.10
tqdm==4.66.1
typing-extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
ubuntu-advantage-tools==20.3
ufw==0.36
unattended-upgrades==0.1
urllib3==2.0.4
wandb==0.15.8
webencodings==0.5.1
websocket-client==1.6.1
wheel==0.34.2
zipp==3.16.2